*{
    box-sizing: border-box;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.block_term{
    width: 100%;
    padding: 10px 5px;
    border-bottom: 2px solid rgb(218, 218, 218);
}
.icon_term img{
    width: 30px;
    float: none;
    margin: 0;
}
.value{
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 124, 0);
}
.graf_term{
    width: 100% !important;
    height: 100% !important;
}
.c_graf{
    height: 300px;
    margin-top: 30px;
}
