<div class="learning-invitation-block">
    <div class="learning-header text-center mb-3" style="text-align: center !important;">
        <div style="text-align: center; margin: 0 auto;">
            {{{icon}}}
        </div>
        <h6 class="mt-2 mb-1">{{#str}} test_title, block_learning_style {{/str}}</h6>
        <small class="text-muted">{{#str}} discover_your_style, block_learning_style {{/str}}</small>
    </div>

    <div class="learning-description mb-3">
        <div class="card border-info">
            <div class="card-body p-3">
                <h6 class="card-title">
                    <i class="fa fa-info-circle text-info"></i>
                    {{#str}} what_is_felder, block_learning_style {{/str}}
                </h6>
                <p class="card-text small mb-2">{{#str}} test_description, block_learning_style {{/str}}</p>
                <ul class="list-unstyled small mb-0">
                    <li><i class="fa fa-check text-success"></i> {{#str}} feature_44_questions, block_learning_style {{/str}}</li>
                    <li><i class="fa fa-check text-success"></i> {{#str}} feature_4_dimensions, block_learning_style {{/str}}</li>
                    <li><i class="fa fa-check text-success"></i> {{#str}} feature_instant_results, block_learning_style {{/str}}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="learning-actions text-center">
        <a href="{{url}}" class="btn btn-warning btn-block">
            <i class="fa fa-rocket"></i> <span>{{#str}} start_test, block_learning_style {{/str}}</span>
        </a>
    </div>
</div>
